@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="h1"><strong><i>Welcome To Javascript</i></strong></h1>
    <input type="text" id="txt"/>
    <button id="btn">Click</button>

</div>
